#ignore
build/*
include/*
Make*
modules/*
.libs/*
autom4te.cache/*
*lo
*la
*in
.deps
*.txt
*.swp
acinclude.m4
autom4te*
aclocal.m4
config.guess
config.h
config.log
config.nice
config.status
config.sub
configure
install-sh
libtool
*.sh
missing
mkinstalldirs
*.php
*.ini
tags
